/* 로그인 페이지 배경 동영상 */
.login-html, .login-html > body {
	width: 100%;
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

#BigWrap {
	width: 100%;
	height: 100%;
	background-color: #eee;
	position: relative;
}

	#BigWrap section {
		position: relative;
		z-index: 2;
	}

	#BigWrap #videoEle {
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

.vjs-control-bar {
	display: none;
}

/* 로그인 페이지 왼쪽 */
.login-char > div:nth-child(1) {
	float: left;
	width: 60%;
	color: white;
}

.cncon-logo {
	padding: 255px;
	margin-top: 100px;
}

	.cncon-logo > div:nth-child(1) {
		font-size: 36px;
	}

	.cncon-logo > div:nth-child(2) {
		font-size: 80px;
	}

	.cncon-logo > div:nth-child(3) {
		font-size: 36px;
		text-align: right;
	}

/* 로그인 페이지 오른쪽 */
.login-char > div:nth-child(2) {
	float: left;
	width: 40%;
}

.login-form {
	width: 400px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 24px;
	margin-top: 250px;
	text-align: center;
	padding: 65px;
	padding-top: 130px;
}

	.login-form > .input-div {
		text-align: left;
	}

.input-div > .title-text {
	color: #313131;
	font-size: 20px;
	margin-bottom: 10px;
}

.login-form > .alert-text {
	color: #E89090;
	font-size: 15px;
	margin: 25px;
}

.underline-input {
	background-color: rgba(255, 255, 255, 0);
	font-size: 20px;
	border-color: #484848;
	width: 100%;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}

.login-button {
	font-size: 20px;
	width: 100%;
	height: 50px;
	background-color: white;
	border-radius: 16px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}


/* 메인 페이지 navbar */
.navbar {
	position: fixed;
	height: 70px;
	width: 100%;
	line-height: 70px;
}

	.navbar > div {
		float: left;
		margin-right: 100px;
	}

		.navbar > div > a {
			color: white;
			text-decoration: none;
			font-size: 18px;
		}

.scrolled {
	background-color: #FEB0AE;
}

/* 메인페이지 탑 */
.main-top {
	background-image: url(/assets/img/background_main.jpg);
	background-size: cover;
	text-align: center;
	color: white;
	padding-top: 250px;
	padding-bottom: 160px;
}

	.main-top > div:nth-child(1) {
		font-size: 70px;
	}

.go-reservation {
	width: 220px;
	height: 55px;
	background-color: white;
	border-radius: 31px;
	border: none;
	font-size: 20px;
}

	.go-reservation:hover {
		cursor: pointer;
	}

/* 메인페이지 소개 첫 번째 */
.main-first > div:nth-child(1) {
	float: left;
	width: 50%;
	padding-top: 200px;
}

	.main-first > div:nth-child(1) > div {
		padding-left: 160px;
	}

		.main-first > div:nth-child(1) > div > h1 {
			color: #FFD144;
			font-size: 80px;
			margin-bottom: 20px;
		}

		.main-first > div:nth-child(1) > div > span {
			font-size: 20px;
		}

.main-first > div:nth-child(2) {
	width: 50%;
	float: left;
	padding-top: 100px;
}

	/* 메인페이지 소개 두 번째 */
	.main-first > div:nth-child(2) > div {
		padding-left: 100px;
	}

		.main-first > div:nth-child(2) > div > h1 {
			color: #D23EB0;
			font-size: 80px;
			margin-bottom: 20px;
		}

		.main-first > div:nth-child(2) > div > span {
			font-size: 20px;
		}

/* 메인페이지 소개 세 번째 */
.main-third > div {
	float: right;
	padding-right: 110px;
	padding-top: 230px;
}

	.main-third > div > h1 {
		color: #B46FEC;
		font-size: 80px;
		margin-bottom: 20px;
	}

	.main-third > div > span {
		font-size: 20px;
	}

/* 메인페이지 소개 네 번째 */
.main-fourth > div {
	padding-left: 100px;
}

	.main-fourth > div > h1 {
		color: #1B2F6E;
		font-size: 80px;
	}

.expression {
	font-size: 20px;
	color: white;
	padding-left: 100px;
}

/* copyright */
.copyright {
	text-align: center;
	color: white;
	background-color: #464646;
	height: 40px;
	line-height: 40px;
}


/* About us 페이지 */
.about-logo {
	color: white;
	margin: auto;
	width: 642px;
	padding-top: 200px;
	padding-bottom: 0;
}

.background {
	background-image: url('/assets/img/background.jpg');
	background-size: cover;
}

.about-us-div {
	color: white;
	margin: auto;
	text-align: center;
}

	.about-us-div > div {
		margin-bottom: 10px;
	}


/* 비밀번호 변경 페이지 */
.copyright-page {
	font-size: 18px;
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.account-div {
	width: 100%;
	text-align: center;
}

	.account-div > form {
		width: 600px;
		height: 600px;
		padding: 40px;
		background-color: white;
		margin: auto;
		text-align: left;
		padding-top: 40px;
		padding-bottom: 40px;
		border-radius: 8px;
	}

		.account-div > form > h1 {
			font-size: 34px;
			color: #EE8896;
			margin-bottom: 0;
		}

		.account-div > form > h2 {
			font-size: 15px;
			font-weight: 100;
			color: #2B2B2B;
		}

.account-button {
	border: 0;
	border-radius: 16px;
	width: 380px;
	height: 50px;
	font-size: 20px;
	background-color: #EE8896;
	color: white;
}


/* 예매하기 페이지 */
.reservation {
	width: calc(100% - 80px);
	height: 795px;
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: -20px;
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 70px;
}

	.reservation > div:nth-child(1) {
		float: left;
		width: 450px;
		padding-left: 30px;
		margin-left: -100px;
	}

	.reservation > div:nth-child(2) {
		float: left;
		height: 100%;
		margin-left: 70px;
	}

	.reservation > div:nth-child(3) {
		float: left;
		height: 100%;
		width: 430px;
		margin-left: 70px;
	}

.reservation-area-h1 {
	font-size: 120px;
	color: #EE8896;
}

.reservation-alert {
	width: 420px;
	height: 405px;
	background-color: white;
	margin-top: 200px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
	padding-top: 45px;
	padding-left: 30px;
}

	.reservation-alert > h1 {
		color: #EE8896;
		font-size: 20px;
	}

	.reservation-alert > div {
		color: #787878;
		font-size: 18px;
	}

.reservation-title {
	color: #EE8896;
	font-size: 34px;
}

.reservation-div {
	background-color: white;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
	height: 690px;
	padding: 19px;
	padding-right: 22px;
}

.num {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	margin: 2.2px;
	font-size: 20px;
}

.seat-button {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 2.2px;
	float: left;
	background-color: #F2F2F2;
	border-radius: 11px;
	border: 0;
}

	.seat-button:hover {
		background-color: #D9D9D9;
		cursor: pointer;
	}

	.seat-button:focus {
		background-color: white;
		background-size: cover;
		background-image: url(/assets/img/seat_selected.png);
	}

.soldout {
	background-color: white;
	background-size: cover;
	background-image: url(/assets/img/seat_alreadySelected.png);
	cursor: not-allowed;
}

.reservation-info {
	background-color: white;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
	height: calc(100% - 138px);
	padding: 35px;
	font-size: 20px;
}

.font-size-30 {
	font-size: 30px;
}

.font-size-28 {
	font-size: 28px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-22 {
	font-size: 22px;
}

.font-size-20 {
	font-size: 20px;
}

.color-pink {
	color: #EE8896;
}

.reservation-submit {
	text-align: center;
	position: absolute;
	width: 350px;
	bottom: 110px;
}

	.reservation-submit > div {
		font-size: 14px;
		color: #787878;
	}

	.copyright-reservation {
		position: relative;
		height: 25px;
		line-height: 35px;
		margin-top: 5px;
		font-size: 12px;
	}

.reservation-submit-button {
	background-color: #F7939F;
	border-radius: 16px;
	font-size: 20px;
	color: white;
	border: 0;
	width: 100%;
	height: 50px;
}

	.reservation-submit-button:hover {
		background-color: #E9677D;
		cursor: pointer;
	}

	.reservation-submit-button:focus {
		background-color: #D85C70;
		cursor: pointer;
	}
